<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ListStudentServlet</servlet-name>
        <servlet-class>Controller.student.Controller.ListStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>Controller.student.Controller.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentServlet</servlet-name>
        <servlet-class>Controller.student.Controller.EditStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>Controller.student.Controller.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>Controller.student.Controller.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferStudentServlet</servlet-name>
        <servlet-class>Controller.student.Controller.TransferStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListReadFileServlet</servlet-name>
        <servlet-class>Controller.student.Controller.ListReadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportExcelServlet</servlet-name>
        <servlet-class>Controller.student.Controller.ImportExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStaffServlet</servlet-name>
        <servlet-class>Controller.staff.controller.ListStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffServlet</servlet-name>
        <servlet-class>Controller.staff.controller.EditStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>Controller.staff.controller.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>Controller.staff.controller.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>Controller.staff.controller.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferStaffServlet</servlet-name>
        <servlet-class>Controller.staff.controller.TransferStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportStaffServlet</servlet-name>
        <servlet-class>Controller.staff.controller.ImportStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.admin.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClass</servlet-name>
        <servlet-class>Controller.studentbyclass.ListClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentByClass</servlet-name>
        <servlet-class>Controller.studentbyclass.ListStudentByClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportStudentByClass</servlet-name>
        <servlet-class>Controller.studentbyclass.ImportStudentByClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudent</servlet-name>
        <servlet-class>Controller.studentbyclass.ListStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentbyClass</servlet-name>
        <servlet-class>Controller.studentbyclass.AddStudentbyClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StransferTo</servlet-name>
        <servlet-class>Controller.studentbyclass.StransferTo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluateSubject</servlet-name>
        <servlet-class>Controller.evaluate.EvaluateSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transfer1</servlet-name>
        <servlet-class>Controller.evaluate.Transfer1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.admin.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListInfo</servlet-name>
        <servlet-class>Controller.studentbyclass.ListInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInfo</servlet-name>
        <servlet-class>Controller.studentbyclass.EditInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfo</servlet-name>
        <servlet-class>Controller.studentbyclass.UpdateInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSurvey</servlet-name>
        <servlet-class>Controller.evaluate.ListSurvey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClassSurvey</servlet-name>
        <servlet-class>Controller.evaluate.ListClassSurvey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhieuDanhGiaSV</servlet-name>
        <servlet-class>Controller.evaluate.PhieuDanhGiaSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClassAdmin</servlet-name>
        <servlet-class>Controller.admin.ListClassAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachSVLMH</servlet-name>
        <servlet-class>Controller.admin.DanhSachSVLMH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClassToSurVey</servlet-name>
        <servlet-class>Controller.admin.ListClassToSurVey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListResultSurvey</servlet-name>
        <servlet-class>Controller.admin.ListResultSurvey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KhaoSatPhieuDanhGia</servlet-name>
        <servlet-class>Controller.admin.KhaoSatPhieuDanhGia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaPhieuDanhGia</servlet-name>
        <servlet-class>Controller.evaluate.XoaPhieuDanhGia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongBao</servlet-name>
        <servlet-class>Controller.studentbyclass.ThongBao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaSVTheoLop</servlet-name>
        <servlet-class>Controller.studentbyclass.XoaSVTheoLop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.staff.controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHome</servlet-name>
        <servlet-class>Controller.student.Controller.StudentHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>Controller.admin.AdminHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListStudentServlet</servlet-name>
        <url-pattern>/ListStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentServlet</servlet-name>
        <url-pattern>/EditStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/UpdateStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferStudentServlet</servlet-name>
        <url-pattern>/TransferStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListReadFileServlet</servlet-name>
        <url-pattern>/ListReadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportExcelServlet</servlet-name>
        <url-pattern>/ImportExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStaffServlet</servlet-name>
        <url-pattern>/ListStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffServlet</servlet-name>
        <url-pattern>/EditStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/AddStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferStaffServlet</servlet-name>
        <url-pattern>/TransferStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportStaffServlet</servlet-name>
        <url-pattern>/ImportStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClass</servlet-name>
        <url-pattern>/ListClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentByClass</servlet-name>
        <url-pattern>/ListStudentByClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportStudentByClass</servlet-name>
        <url-pattern>/ImportStudentByClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudent</servlet-name>
        <url-pattern>/ListStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentbyClass</servlet-name>
        <url-pattern>/AddStudentbyClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StransferTo</servlet-name>
        <url-pattern>/StransferTo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluateSubject</servlet-name>
        <url-pattern>/EvaluateSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transfer1</servlet-name>
        <url-pattern>/Transfer1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListInfo</servlet-name>
        <url-pattern>/ListInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInfo</servlet-name>
        <url-pattern>/EditInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfo</servlet-name>
        <url-pattern>/UpdateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSurvey</servlet-name>
        <url-pattern>/ListSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClassSurvey</servlet-name>
        <url-pattern>/ListClassSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhieuDanhGiaSV</servlet-name>
        <url-pattern>/PhieuDanhGiaSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClassAdmin</servlet-name>
        <url-pattern>/ListClassAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachSVLMH</servlet-name>
        <url-pattern>/DanhSachSVLMH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClassToSurVey</servlet-name>
        <url-pattern>/ListClassToSurVey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListResultSurvey</servlet-name>
        <url-pattern>/ListResultSurvey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KhaoSatPhieuDanhGia</servlet-name>
        <url-pattern>/KhaoSatPhieuDanhGia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaPhieuDanhGia</servlet-name>
        <url-pattern>/XoaPhieuDanhGia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongBao</servlet-name>
        <url-pattern>/ThongBao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaSVTheoLop</servlet-name>
        <url-pattern>/XoaSVTheoLop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHome</servlet-name>
        <url-pattern>/StudentHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/AdminHome</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
